/* General Style */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
}

/* Header */

header {
  background-color: rgb(255,255,0);
  height: 200px;
  margin-bottom: 5px;
}

/* Main */

main {
  background-color:	rgb(218,112,214);
  height: 500px;
  margin-bottom: 5px;
}

main .contenuto1 {
  
}




/* Footer */

footer {
  background-color: rgb(100,149,237);
  height: 200px;
}
